<head>
	<meta charset="UTF-8">	
	<link rel="stylesheet" type="text/css"  href= "../css/mystyle.css">
		
		<link rel="stylesheet" type="text/css"  href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
		<script type="text/javascript" src="../node_modules/angular/angularjs-dropdown-multiselect.min.js"></script>
	</head>
 		 <div  class="col-md-6 col-sm-6 col-xs-12">
		<div class="panel panel-primary   spacer"data-ng-if="mode==0" >
 		<div  class="panel-heading"> Ajouter groupe</div>
 		<div class="panel-body">
 		<form>
 		
 		
 		
 		
 		
 		<div class="form-group">
 	<label class="control-label" for="nomgroupe"> Nom Groupe</label>
    <select  class="form-control" name="nomgroupe" id="nomgroupe" data-ng-model="grp.nomgroupe">
      <option  data-ng-repeat="option in grp.disponible" value="{{option.group}}">{{option.group}}</option>
    </select>
 </div>
 			<div class="form-group">
 	<label class="control-label" for="terminal"> Terminal</label>
    <select  class="form-control" name="terminal" id="terminal" data-ng-model="grp.terminal">
      <option  data-ng-repeat="option in grp.availableOptions" value="{{option.name}}">{{option.name}}</option>
    </select>
 </div>
 <div class="form-group">
 	<label class="control-label" for="fonction"> Fonction</label>
    <select  class="form-control" name="fonction" id="fonction" data-ng-model="grp.fonction">
      <option  data-ng-repeat="option in grp.available" value="{{option.nom}}">{{option.nom}}</option>
    </select>
 </div>
 		
 		
 		
 		
 		
 		
 		
  		<br><button data-ng-click="ajoutergroupe()" class="btn btn-primary">Enregistrer
 		</button>
 		
 		
 		
 		
 		
 		</form>
 		</div>
 		</div>
 		</div>
 		
 	<div  class="col-md-12 col-sm-6 col-xs-12">
 		<div class="panel panel-primary spacer " data-ng-if="mode==1">
 		<div  class="panel-heading"> Confirmations: <a data-ng-click="modeForm()">Nouveau</a></div>
 		<div class= "panel-body">
 	<!-- <div>
 	<table class="table table-striped">
 	<thead>
 	<tr>
 	<th>Matricule</th><th>Nom</th><th>Prénom</th><th>Terminal</th><th>Fonction</th><th>Groupe</th></tr>
 	</thead>
 	<tbody>
 	<tr data-ng-repeat="op in collaborateur"  data-ng-if="$index < 1 ">
 	<td>{{ collaborateur.matricule}}</td>
 	<td>{{  collaborateur.nom}}</td>
 	<td>{{  collaborateur.prenom}}</td>
 	<td>{{  collaborateur.terminal}}</td>
 	<td>{{  collaborateur.fonction}}</td>
 		<td>{{  collaborateur.groupe}}</td>
 	</tr>
 	</tbody>
 	</table>
 	</div>	 -->
 		
 		
 	
 		</div>
 		</div>
 		</div>
 		
 		<div data-ng-if="exception.message">
 	<h1><span class="error">{{exception.message}}</span></h1>	</div>
 		
 		
 		
 		<!-- option value="text" >DTC</option>
 		<option value="text" >DTV</option>
 		<option value="text" >DTP</option> -->