	<!DOCTYPE html>
	<html >
	<head>
	<meta charset="UTF-8">
	
	<link rel="stylesheet" type="text/css"  href= "../css/mystyle.css">
		
	
		

		
		<link rel="stylesheet" type="text/css"  href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
		
		       <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
	        <script type="text/javascript" src="../js/myapp.js"></script>
	  <script type="text/javascript" src="../node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	  
 
		

  

		
		</head>
		<body    >
	  
		<div  class="col-md-6 col-sm-6 col-xs-12">
		<div class="panel panel-primary  spacer">
 		<div  class="panel-heading"> Gestion des Groupes</div>
 		<div class="panel-body">
		
	    <button class="btn btn-default" data-ui-sref="ajoutergroupe">Créer nouveau groupe</button>	
	    
	    <button class="btn btn-default" data-ui-sref="cherchergroupe">Chercher un groupe</button>
	
	</div>	
	</div>
	</div>
		
		
		
		
		
	
			
			
					
					
			
			
		
			
			
			
			
			
			
			
		
			
			
			
			
			
			
			
		
			
			
			
			
			
			
			
			
			
			
			
				
	</body>
	</html>



			

				
			

			
						
						
					

			

			