	<!DOCTYPE html>
	<html >
	<head>
	<meta charset="UTF-8">
	
	<link rel="stylesheet" type="text/css"  href= "../css/mystyle.css">
		
	
		

		
		<link rel="stylesheet" type="text/css"  href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
		
		       <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
	        <script type="text/javascript" src="../js/myapp.js"></script>
	  <script type="text/javascript" src="../node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
	

	
	
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	  
 
		

  

		
		</head>
		<body    >
	  
		<div  class="col-md-6 col-sm-6 col-xs-12">
		<div class="panel panel-primary  spacer">
 		<div  class="panel-heading"> Planning des Repos pour le mois Septembre 2019</div>
 		<div class="panel-body">
		 
		 
		 
		 
		 
		 <!-- <div class="dropdown">
 <button class="dropdown-toggle btn btn-primary " type="button" data-toggle="dropdown">Choisir Fonction -->
 <!-- <span class="caret"></span></button>
 <ul class="dropdown-menu"> -->

 <h4><select name="select-city" onchange="location = this.value;">
<option value="">Choisir une fonction</option>

 
 <option  value="https://s8.aconvert.com/convert/p3r68-cdx67/ap008-85gqw.html">Conducteurs Engins de levage</option>
  <option value="https://s8.aconvert.com/convert/p3r68-cdx67/ap008-85gqw.html">Conducteurs Engins roulants</option>
   <option  value="https://s8.aconvert.com/convert/p3r68-cdx67/ap008-85gqw.html">Techniciens spécialisés</option>
    <option value="https://s8.aconvert.com/convert/p3r68-cdx67/ap008-85gqw.html">Techniciens de parc </option>
   
     <option  value="https://s8.aconvert.com/convert/p3r68-cdx67/ap008-85gqw.html">Agent de manutention</option>
     <option  value="https://s8.aconvert.com/convert/p3r68-cdx67/ap008-85gqw.html">Pointeur</option>
        <option value="https://s8.aconvert.com/convert/p3r68-cdx67/ap008-85gqw.html">Chef d'escale</option>
 
 
 </select></h4> 
</div>
	  
	
		
		</div>
	
		
		
	
			
			</div>
			</div>
					
					
			
			
		
			
			
			
			
			
			
			
		
			
			
			
			
			
			
			
		
			
			
			
			
			
			
			
			
			
			
			
				
	</body>
	</html>



			

				
			

			
						
						
					

			

			