<head>
	<meta charset="UTF-8">	
	
	</head>
	<link rel="stylesheet" type="text/css"  href= "../css/mystyle.css">
		
		<link rel="stylesheet" type="text/css"  href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
		<div  class="col-md-12 col-sm-6 col-xs-12">
		<div class="panel panel-primary  spacer">
 		<div  class="panel-heading">Absence à supprimer ou modifier</div>
 		 <div class="panel-body">
 		<form>
 		<div class="form-group">
 		<label>Absence_id</label>
 		<input type="text" data-ng-model="absenceid" >
 		<button data-ng-click="chercherabsence()">Entrer Absence_ID
 		</button>
 	
 		
 			
 		</div>
 		</form>
 		</div>
 		</div>
 		</div>
 		
  	
 	   
 		<div  class="col-md-6 col-sm-6 col-xs-12">
 		<div class="panel panel-primary spacer "  >
 		<div  class="panel-heading"> Informations</div>
 		<div class= "panel-body">
 
 	<table class="table table-striped">
 	<thead>
 	<tr>
 	<th>Absence Id</th><th>Nom</th><th>Prénom</th><th>Date Début</th><th>Date Fin</th><th>Motif</th><th>Actions<th></tr>
 	</thead>
 	<tbody>
 	<tr data-ng-repeat="op in absence" data-ng-if="$index < 1 " >
 	<td>{{  absence.absenceid}}</td>	
 	<td>{{  absence.nom}}</td>
 	<td>{{ absence.prenom}}</td>
 	<td>{{  absence.datedebut}}</td>
 	<td>{{ absence.datefin}}</td>
 	<td>{{ absence.motif}}</td>
 		<td> <button class="btn btn-danger btn-sm" data-ng-click="supprimer()">Supprimer</button>
 		 <button class="btn btn-success btn-sm" data-ng-click="editAbsence(absence)">Edit</button>
 	
 
 	
 	
 	</tr>
 	</tbody>
 	</table>
 	</div>	
 	</div>
 	</div>
 	<div  class="col-md-6 col-sm-6 col-xs-12" >
		<div class="panel panel-primary spacer" >
 		<div  class="panel-heading"> Modification</div>
 		<div class="panel-body">
         
 		
 		<div class ="input-group">
 		<span class="input-group-addon">Nom</span>
 		<input  class="form-control"type="text"   placeholder="name.."data-ng-model="absence.nom"></div><br> 
 		
 		<div class ="input-group">
 		<span class="input-group-addon">Prénom</span>
 		
 		<input  class="form-control"type="text"   data-ng-model="absence.prenom" ></div><br>
 		
 		<div class ="input-group">
 		<span class="input-group-addon">Date début</span>
 		
 		<input  class="form-control"type="text"  data-ng-model="absence.datedebut" ></div><br>
 	
 		<div class ="input-group">
 		<span class="input-group-addon">Date fin</span>
 		<input  class="form-control"type="text"  data-ng-model="absence.datefin"></div><br>
 		<div class ="input-group">
 		<span class="input-group-addon">Motif</span>
 		<input  class="form-control"type="text"  data-ng-model="absence.motif"></div>

 		
  		<br> <input type="button" value="update" data-ng-click="updateAbsence()" class="btn btn-success btn-sm" data-ng-show="update" />    
 		
 	</div>	
 	</div>	
 		<div data-ng-if="exception.message">
 	<h1><span class="error">{{exception.message}}</span></h1>	</div>
 		
 		